---
layout: default
permalink: /hot-metal/index.html
---
  
{% for cat in site.category-list %}

<ul>
  {% for page in site.pages %}
    {% if page.resource == true %}
    {% if page.categories contains 'hot-metal' %}
      {% for pc in page.categories %}
        {% if pc == cat %}
          <li><a href="/sinhala-types/{{ page.url }}">{{ page.title }} {{ page.desc }}</a></li>
       <img src="{{ site.baseurl }}/{{ page.title }}/1.jpg">

        
        {% endif %}   <!-- cat-match-p -->
      {% endfor %}  <!-- page-category -->
    {% endif %}   <!-- resource-p -->            
    {% endif %}   <!-- cat-match-p -->
  {% endfor %}  <!-- page -->
    
</ul>
{% endfor %}  <!-- cat -->











