---
layout: default
title: Home
---


{% for cat in site.category-list %}
<ul>
  {% for page in site.pages %}
    {% if page.resource == true %}
      {% for pc in page.categories %}
        {% if pc == cat %}
          <li class="type-list"><a href="/sinhala-types{{ page.url }}">{{ page.title }} / {{ page.year }}</a>
              {{ page.categories }}
    <img src="{{ site.baseurl }}/{{ page.title }}/1.jpg">
    </li>
   
        {% endif %}   <!-- cat-match-p -->
      {% endfor %}  <!-- page-category -->
    {% endif %}   <!-- resource-p -->
  {% endfor %}  <!-- page -->
</ul>
{% endfor %}  <!-- cat -->



