---
layout: default
title: Home
---


<ul>
{% for page in site.pages %}
    {% if page.resource == true %}
        <li class="type-list">
        <a  href="/sinhala-types{{ page.url }}">
            <img  src="{{ site.baseurl }}/{{ page.title }}/single_line.jpg">
        </a>
        <p class="home-label metadata">
            <a href="/sinhala-types{{ page.url }}">{{ page.title }}</a> <br />{{ page.year }} , {{ page.categories }}
        </p>
        </li>
   
    {% endif %}   <!-- resource-p -->
  {% endfor %}  <!-- page -->

</ul>



