<!-- Target for toggling the sidebar `.sidebar-checkbox` is for regular
     styles, `#sidebar-checkbox` for behavior. -->
<input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox">

<!-- Toggleable sidebar -->
<div class="sidebar" id="sidebar">

    <div class="sidebar-item">
                    <small>{{ site.tagline }}</small>

    </div>
    <nav class="sidebar-nav">





    </nav>
    <div class="sidebar-item">
        <p>{{ site.description }}</p>
        <nav class="sidebar-nav">



    </nav>
                <a class="sidebar-nav-item" href="{{ site.baseurl }}/tags">Tags</a>

    </div>
    <div class="sidebar-item">
        <p>
            Descriptions &copy; {{ site.time | date: '%Y' }} Pathum Egodawatta. 
            Site and code &copy; {{ site.time | date: '%Y' }} mooniak.
            Publishing rights and copyrights of the images belong to their respective owners. Images are published here with intent of educational purposes.

            <br />
            <a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/4.0/">Discriptions licensed under a Creative Commons Attribution-NonCommercial-NoDerivatives 4.0 International License</a>.

        </p>
    </div>
    

</div>