---
layout: default
---

<div class="page">
    <h1 class="page-title">{{ page.title }}
    </h1>
<section class="grid">
    <div class="grid-img">
        <img src="single_line.jpg">
        <div id="vertical-grid-overlay">
            <a href="#" class="gird-label" onclick="javascript:document.getElementById('vertical-grid-overlay').style.display='none';">clear</a>
        </div>
        <div id="horizontal-grid-overlay">
            <a class="gird-label" href="#" onclick="javascript:document.getElementById('horizontal-grid-overlay').style.display='none';">clear</a>
        </div>
        <div id="both-grid-overlay">
            <a class="gird-label" href="#" onclick="javascript:document.getElementById('both-grid-overlay').style.display='none';">clear</a>
        </div>
    </div>
    <a href="#" class="link" onclick="javascript:document.getElementById('vertical-grid-overlay').style.display='block';">vertical rulers</a>
    <a href="#" class="link" onclick="javascript:document.getElementById('horizontal-grid-overlay').style.display='block';">horizontal rulers</a>
    <a href="#" class="link" onclick="javascript:document.getElementById('both-grid-overlay').style.display='block';">grid</a>
</section>
    

    <div>     
<section class="focal">
      <div class="parent">
        <div class="panzoom">
            
  <img src="1.jpg">
        </div>
      </div>
          <p class="link">Use the mousewheel to zoom on a focal point</p>

</section>
      <script>
        (function() {
          var $section = $('.focal');
          var $panzoom = $section.find('.panzoom').panzoom();
          $panzoom.parent().on('mousewheel.focal', function( e ) {
            e.preventDefault();
            var delta = e.delta || e.originalEvent.wheelDelta;
            var zoomOut = delta ? delta < 0 : e.originalEvent.deltaY > 0;
            $panzoom.panzoom('zoom', zoomOut, {
              increment: 0.1,
              animate: false,
              focal: e
            });
          });
        })();
      </script>       
</div>
    <table class="tg">
        <tr>
            <th class="tg-h21g" colspan="3">{{ page.desc }}</th>
        </tr>
        <tr>
            <td class="tg-yw4l">Name</td>
            <td class="tg-yw4l">{{ page.title }}</td>
        </tr>
        <tr>
            <td class="tg-yw4l">Year</td>
            <td class="tg-yw4l">{{ page.year }}</td>
        </tr>
        <tr>
            <td class="tg-yw4l">Designer</td>
            <td class="tg-yw4l">{{ page.designer }}</td>
        </tr>
        <tr>
            <td class="tg-yw4l">Foundry</td>
            <td class="tg-yw4l">{{ page.foundry }}</td>
        </tr>
        <tr>
            <td class="tg-yw4l">City</td>
            <td class="tg-yw4l">{{ page.city }}</td>
        </tr>
        <tr>
            <td class="tg-yw4l">Books</td>
            <td class="tg-yw4l">{{ page.books }}</td>
        </tr>
        <tr>
            <td class="tg-yw4l">Notes</td>
            <td class="tg-yw4l">{{ page.notes }}</td>
        </tr>
        <tr>
            <td class="tg-yw4l">Links</td>
            <td class="tg-yw4l">{{ page.link1 }}</td>
        </tr>
        <tr>
            <td class="tg-yw4l">Spec-Sheet Pdf</a>
            </td>
            <td class="tg-yw4l"><a href="{{ site.baseurl }}/{{ page.title }}/{{ page.title }}_spec.pdf">Spec-Sheet Pdf</a>
            </td>
        </tr>
    </table>


  

</div>


    {{ content }}
</div>



<p></p>


